*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: var(--desktop-width);
  margin: 0 auto;
  background-color: gray;
}

#root {
  height: 100%;
  background-color: var(--color-dark-blue);
  background-image: url("/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
