.app {
  font-size: var(--font-body-copy);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-regular);
  &__drag-drop-message {
    color: var(--color-light-grey);
    font-size: var(--font-size-sm);
  }
}
//////////////////////////////////////
/// CREATE TODO
.create-todo {
  font: inherit;
  color: var(--color-add-new-todo);
}
//////////////////////////////////////
/// TODO
.todo {
  &__text {
    color: var(--color-unchecked-todo-font);
    &--checked {
      text-decoration: line-through;
      color: var(--color-checked-todo-font);
    }
  }
}
//////////////////////////////////////
/// FOOTER
.footer {
  color: var(--color-light-grey);
  font-size: var(--font-size-sm);
}
//////////////////////////////////////
/// DARK MODE TOGGLE
.dark-mode-toggle {
  cursor: pointer;
}
