:root {
  // COLORS
  --color-linear-blue: hsl(192, 100%, 67%);
  --color-linear-pink: hsl(280, 87%, 65%);
  --color-bright-blue: hsl(220, 98%, 61%);

  --color-regular: hsl(0, 0%, 98%);
  --color-app-background: hsl(236, 33%, 92%);
  --color-todo-background: hsl(0, 0%, 98%);
  --color-unchecked-todo-font: hsl(237, 14%, 26%);
  --color-checked-todo-font: hsl(233, 11%, 84%);
  --color-checkbox-border: hsl(233, 11%, 84%);
  --color-add-new-todo: hsl(237, 14%, 26%);
  --color-light-grey: hsl(236, 9%, 61%);
  --color-dark-grey: hsl(0, 0%, 55%);
  --color-border: hsl(237, 14%, 26%);
  
  .dark-mode {
    --color-app-background: hsl(235, 21%, 11%);
    --color-todo-background: hsl(235, 24%, 19%);
    --color-unchecked-todo-font: hsl(236, 33%, 92%)
    --color-checkbox-border: hsl(233, 14%, 35%);
    --color-checked-todo-font: hsl(235, 19%, 35%);
    --color-add-new-todo: hsl(236, 9%, 61%);
  }
  // TYPOGRAPHY
  --font-body-copy: 1.8rem;
  --font-size-sm: 1.3rem;
  --font-family: "Josefin Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.3rem;
  --letter-spacing-lg: 0.5rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.7rem;
  --line-height-lg: 2rem;
  // SPACING
  --desktop-width: 144rem;
  --mobile-width: 43.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 3rem;
  --spacing-regular: 5rem;
  --spacing-md: 10rem;
  --spacing-lg: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 50rem;
  // BORDER-RADIUS
  --radius-tiny: 0.6rem;
  --radius-sm: 2rem;
  --radius-md: 5rem;
  --radius-lg: 10rem;
  --radius-huge: 50rem;
  // BOX SHADOW
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.04);
}
