.checkbox {
  border: 1px solid var(--color-checkbox-border);
  border-radius: var(--radius-lg);
  cursor: pointer;
  &--checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to right,
      hsl(280, 87%, 65%),
      hsl(220, 98%, 61%)
    );
  }
}
