.create-todo {
  border: none;
  background-color: var(--color-todo-background);
  border-radius: var(--radius-tiny);
  &__circle {
    border: 1px solid var(--color-checkbox-border);
    border-radius: var(--radius-lg);
    cursor: pointer;
  }
}
