.create-todo {
  background-color: var(--color-todo-background);
  border-radius: var(--radius-tiny);
  &__add-button {
    border: 1px solid var(--color-checkbox-border);
    border-radius: var(--radius-lg);
    cursor: pointer;
  }
  &__text {
    background-color: var(--color-todo-background);
    border: none;
    outline: none;
  }
}
