.filters {
  &__all,
  &__active,
  &__completed {
    cursor: pointer;
    &--active {
      color: var(--color-bright-blue);
    }
  }
  &--mobile {
    background-color: var(--color-todo-background);
    border-radius: var(--radius-tiny);
  }
}
