*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: var(--desktop-width);
  margin: 0 auto;
  background-color: gray;
}

#root {
  height: 100%;
  background-color: var(--color-app-background);
  background-image: url("/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.dark-mode {
  background-image: url("/bg-desktop-dark.jpg") !important;
}

.hidden {
  display: none;
}

.create-todo {
  border: none;
  background-color: var(--color-todo-background);
  border-radius: var(--radius-tiny);
}
.create-todo__circle, .create-todo__cross {
  cursor: pointer;
}
.create-todo__circle {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  cursor: pointer;
}

.checkbox {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  cursor: pointer;
}
.checkbox--checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, hsl(280, 87%, 65%), hsl(220, 98%, 61%));
}

.footer {
  background-color: var(--color-todo-background);
  border-radius: 0 0 var(--radius-tiny) var(--radius-tiny);
}
.footer__clear-completed {
  cursor: pointer;
}

.filters__all, .filters__active, .filters__completed {
  cursor: pointer;
}
.filters__all--active, .filters__active--active, .filters__completed--active {
  color: var(--color-bright-blue);
}
.filters--mobile {
  background-color: var(--color-todo-background);
  border-radius: var(--radius-tiny);
}

.todo {
  background-color: var(--color-todo-background);
  border-bottom: 1px solid var(--color-border);
}

@media only screen and (max-width: 1440px) {
  body {
    margin: 0 auto;
    width: var(--mobile-width);
  }
  #root {
    background-size: 100% 33%;
  }
  .app {
    width: 100% !important;
    margin: 0 !important;
    padding: calc(var(--spacing-md) * 0.8) var(--spacing-sm) !important;
  }
  .create-todo,
  .todo {
    font-size: var(--font-size-sm) !important;
  }
  .filters--desktop {
    display: none !important;
  }
  .filters--mobile {
    display: block !important;
    text-align: center;
  }
  .filters__active {
    margin: 0 var(--spacing-sm);
  }
}
.app {
  font-size: var(--font-body-copy);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-regular);
}
.app__drag-drop-message {
  color: var(--color-light-grey);
  font-size: var(--font-size-sm);
}

.create-todo {
  font-family: var(--font-family);
  font-size: var(--font-body-copy);
  color: var(--color-light-grey);
}
.create-todo::placeholder {
  color: var(--color-light-grey);
}

.todo__text {
  color: var(--color-light-grey);
}
.todo__text--checked {
  text-decoration: line-through;
  color: var(--color-border);
}

.footer {
  color: var(--color-light-grey);
  font-size: var(--font-size-sm);
}

.leftover,
.clear-completed {
  opacity: 0.7;
}

.clear-completed {
  cursor: pointer;
}
.clear-completed:hover {
  color: var(--color-text-hover);
}

.filters--mobile {
  color: var(--color-light-grey);
}
.filters__all, .filters__active, .filters__completed {
  cursor: pointer;
  opacity: 0.7;
}
.filters__all:hover, .filters__active:hover, .filters__completed:hover {
  color: var(--color-text-hover);
}
.filters__all--active, .filters__active--active, .filters__completed--active {
  color: var(--color-bright-blue);
}

.dark-mode-toggle {
  cursor: pointer;
}

.app {
  height: 80%;
  width: 45%;
  margin: 0 auto;
  padding: calc(var(--spacing-md) * 0.8) var(--spacing-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app > div {
  width: 100%;
}
.app__create-todo {
  position: relative;
}
.app__drag-drop-message {
  margin-top: var(--spacing-regular);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--spacing-regular) * 0.7);
}

.create-todo {
  width: 100%;
  padding: calc(var(--spacing-tiny) * 2.3) 6.4rem;
  margin-bottom: var(--spacing-sm);
}
.create-todo__circle, .create-todo__cross {
  position: absolute;
  top: 21%;
  height: calc(var(--spacing-sm) * 0.7);
  width: calc(var(--spacing-sm) * 0.7);
}
.create-todo__circle:hover, .create-todo__cross:hover {
  transform: translateY(-3%);
  opacity: 0.7;
}
.create-todo__circle {
  left: calc(var(--spacing-tiny) * 2.3);
}
.create-todo__cross {
  right: calc(var(--spacing-tiny) * 2.3);
}

.todo {
  position: relative;
}
.todo__text {
  width: 100%;
  height: 100%;
  padding: calc(var(--spacing-tiny) * 2.3) 6.4rem;
  cursor: grab;
}
.todo__text:active {
  cursor: grabbing;
}
.todo__cross {
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: calc(var(--spacing-tiny) * 2.3);
  top: 30%;
}

.checkbox {
  height: calc(var(--spacing-sm) * 0.7);
  width: calc(var(--spacing-sm) * 0.7);
  position: absolute;
  left: calc(var(--spacing-tiny) * 2.3);
  top: 30%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing-tiny) * 1.7);
}

.filters--desktop, .filters--mobile {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-tiny);
}
.filters--mobile {
  display: none;
  margin-top: calc(var(--spacing-tiny) * 3);
  padding: calc(var(--spacing-tiny) * 1.7);
}

:root {
  --color-linear-blue: hsl(192, 100%, 67%);
  --color-linear-pink: hsl(280, 87%, 65%);
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-light-grey: hsl(236, 9%, 61%);
  --color-dark-grey: hsl(0, 0%, 55%);
  --color-regular: hsl(0, 0%, 98%);
  --color-dark-todo-font: hsl(237, 14%, 26%);
  --color-app-background: hsl(236, 33%, 92%);
  --color-todo-background: hsl(0, 0%, 98%);
  --color-border: hsl(233, 11%, 84%);
  --color-text-hover: rgb(12, 12, 12);
  --font-body-copy: 1.8rem;
  --font-size-sm: 1.3rem;
  --font-family: "Josefin Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.3rem;
  --letter-spacing-lg: 0.5rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.7rem;
  --line-height-lg: 2rem;
  --desktop-width: 144rem;
  --mobile-width: 43.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 3rem;
  --spacing-regular: 5rem;
  --spacing-md: 10rem;
  --spacing-lg: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 50rem;
  --radius-tiny: 0.6rem;
  --radius-sm: 2rem;
  --radius-md: 5rem;
  --radius-lg: 10rem;
  --radius-huge: 50rem;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.04);
}
:root .dark-mode {
  --color-app-background: hsl(235, 21%, 11%);
  --color-todo-background: hsl(235, 24%, 19%);
  --color-border: hsl(237, 14%, 26%);
  --color-text-hover: azure;
}

/*# sourceMappingURL=style.css.map */
